@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Spartan:wght@200;500&family=Montserrat&family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@400;800&family=Source+Sans+Pro&display=swap');

:root {
    --black-text: #1e293b;
    --task-font-size: 1rem;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin: auto;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    background-color: #1e293b;
    color: white;
}

.main{
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #dcfce7;
    border-radius: 1rem;
    padding: 1rem 0rem;
    color: var(--black-text);
}

.new-task-div {
    text-align: center;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-task-button {
    background-color: #bbf7d0;
    border: none;
    padding: 1rem 1.5rem;
    font-size: var(--task-font-size);
    color: #134e4a;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.add-task-button:hover {
    cursor: pointer;
    background-color: #15803d;
    transition: 0.2s;
    color: #f0fdf4;
}

.new-task-input-div {
    height: 0rem;
    visibility: hidden;
    opacity: 1;
    transition: height 0.2s, opacity 0.3s linear;
    width: 100%;
    padding: 0;
}

.new-task-input {
    padding: 0.4rem 1rem;
    border: 1px transparent solid;
    background-color: #22c55e;
    color: white;
    min-width: 100%;
    font-size: var(--task-font-size);
}

.new-task-input::placeholder {
    color: #e2e8f0;
}

.new-task-input:focus {
    outline: none;
    background-color: #15803d;
    transition: 0.2s;
}

.title-input {
    font-weight: bolder;
    border-bottom: 1px #4ade80 solid;
}

.detail-input {
    font-size: 0.8rem;
}

.task-output-div {
    text-align: center;
}

.task-list {
    list-style: none;
    /* margin: 0; */
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
}

.task-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 15rem;
    width: 100%;
    padding: 0rem;
    /* max-width: 25rem; */
    /* margin: 0.5rem; */
    /* padding: 0.5rem 0.5rem; */
    /* border: 1px var(--black-text) solid; */
    /* border-radius: 1rem; */
    color: var(--black-text);
    font-size: var(--task-font-size);
    background-color: #dcfce7;
    /* font-weight: bolder; */
}

.task-list li:hover {
    background-color: #86efac;
}

.task-item-div {
    width: 100%;
}

.task-item-item {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    padding: 0.4rem 1rem;
}

.task-detail-item {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    /* font-weight: bold; */
    width: 100%;
    padding: 0.2rem 1rem;
}

.task-item-item:focus, .task-detail-item:focus {
    outline: none;
    background-color: #15803d;
    transition: 0.2s;
    color: white;
}

.task-item-item:disabled, .task-detail-item:disabled {
    color: var(--black-text);
}

/* .task-list li h4 {
    margin: 0;
    text-align: left;
}

.task-list li p {
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
} */

.task-buttons {
    display: flex;
    flex-direction: row;
    /* width: 10%; */
    align-items: center;
    padding: 0 1rem;
}

.task-buttons i {
    background-color: transparent;
    border: 1px transparent solid;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.3rem;
    color: var(--black-text);
}

.delete-task {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0;
    color: grey;
    padding-top: 0.6rem;
    
    position: absolute;
    left: 67%;
}

.delete-task:hover {
    color: black;
}

@media screen and (max-width: 800px){
    .main{
        width: 70%;
    }

    .delete-task {
        left: 80%;
    }
}